.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    border-bottom: 1px solid;
    border-color: var(--third-color);
}

.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

