.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    padding: 1.5em;
    border-radius: 4px;
    width: 100%;
    background-color: var(--secondary-color);
}

.modalUpdate{
    border-radius: 4px;
    width: 100%;
    background-color: var(--secondary-color);
}

.employeeForm{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
}

.formSection{
    display: flex;
    align-items: center;
    gap: 1em;
}

.titles{
    margin-bottom: 1em;
}

.buttons {
    background-color: var(--fourth-color);
}

.buttons:hover {
    background-color: var(--text-color);
}

.inputLabelSection{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5em; 
    font-size: 0.9em;
}

@media (max-width: 1024px) {
    .employeeItem {
        align-content: center;
    }

    .inputLabelSection{
        max-width: 15em;
    }
}