.detailContainer {
    padding: 1.5em;
    border-radius: 4px;
    max-width: 52em;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.employeeDataContainer{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.sectionTitle {
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.mainTitle{
    font-size: 1.8em;
    margin-bottom: 1em;
}

.closeButton {
    background-color: var(--warning-color);
    color: white;
}

.closeButton:hover {
    background-color: #c82333;  
}

.buttonsContainer{
    display: flex;
    align-items: center;
    gap: 1em;
}

.updateForm{
    margin-top: 1em;
}

.employeeDataContainer>div>p{
    margin-top: 0.6em;
    font-size: 0.9em;
}
