.detailContainer {
    padding: 0 1.5em 0 1.5em;
    border-radius: 4px;
    max-width: 52em;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.employeeDataContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1.5em;
}

.sectionTitle {
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--title-color);
}

.closeButton {
    margin-top: 1em;
    background-color: var(--warning-color);
    color: white;
}

.closeButton:hover {
    background-color: #c82333;  
}
