@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* --primary-color: #352F44;
    --secondary-color: #2A2438;
    --third-color: #5C5470;
    --fourth-color: #DBD8E3;
    --text-color: #F0F0F0;
    --warning-color: #dc3545; */
    --primary-color: #F4F4F4;
    --secondary-color: #D0D0D0;
    --third-color: #5C5470;
    --fourth-color: #777777;
    --text-color: #333333;
    --scotia-color: #D81E05;
    --scotia-color-hover: #BF1B04;
    --font-family: "Raleway", sans-serif;
    --white-color: #ffffff;
}

body {
    background-color: var(--primary-color);
}

*{
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, label{
    color: var(--text-color);
    overflow:unset;
}

button{
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--fourth-color);
}

button:hover {
    background-color: var(--text-color);
}

input{
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
}

select{
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    transition: ease-in-out 0.2s;
    backdrop-filter: brightness(120%);
}

/* Responsive typography */
@media (max-width: 768px) {
    h1, h2, h3, label {
        font-size: 1.1em;
    }
}

/* Input adjustments */
/* input, select {
    padding: 8px 12px;
    font-size: 1em;
    width: 100%;
} */

@media (max-width: 480px) {
    input, select, button {
        padding: 6px 10px;
        font-size: 0.9em;
    }
}
